table {
  margin: auto;
  white-space: nowrap;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  width: 54vw;
}
table::-webkit-scrollbar {
  border-radius: 2rem;
  height: 8px;
  background-color: #fff;
}
table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--blue-color);
}

td,
th {
  padding: 0.5rem;
}

th {
  text-align: left;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: none;
}

td {
  border-bottom: none;
}

.cryptos {
  margin-top: 7rem;
}
.heading {
  width: 100%;
  text-align: center;
}
.coin-input {
  outline: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 2rem;
  border: none;
}
.coin-search {
  display: flex;
  margin: 2rem;
  align-items: center;
  gap: 2rem;
}
.all-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  height: 60vh;
  overflow-x: hidden;
  margin: 1rem auto;
  overflow-y: scroll;
}
.all-cards::-webkit-scrollbar {
  display: none;
  border-radius: 2rem;
  width: 12px;
  background-color: #fff;
}
.all-cards::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 10px;
  background: var(--blue-color);
}

.allCoins {
  display: flex;
  width: 100%;
  border-radius: 17px;
  background: var(--card-color);
  max-width: 100vw;
  font-size: 13px;
}
.all-card {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  cursor: pointer;
}
.all-cn-rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.all-cn-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.all-cn-name-price {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.all-coin-data {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.all-cn-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--gray-color);
}
.image img {
  width: 3rem;
}
@media screen and (max-width: 600px) {
  .all-cards::-webkit-scrollbar {
    display: none;
  }
  .all-cards::-webkit-scrollbar-thumb {
    display: none;
  }
  .coin-search {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    font-size: 12px;
  }
  .coin-input {
    outline: none;
    padding: 5px 20px;
    border-radius: 2rem;
    border: none;
  }
  .allCoins {
    display: flex;
    justify-content: center;
  }
  .all-card {
    border-radius: 17px;
    font-size: 10px;
    padding: 0.5rem;
    gap: 1rem;
  }
  .hr24-high {
    display: none;
  }
  .hr24-low {
    display: none;
  }
  .image img {
    width: 2rem;
  }
}


/* Loading Bar */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
