@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --bg-color: #1C1919;
    --card-color: #444040;
    --gray-color: #eeededa3;
    --blue-color: #2170ff;
}
.App{

        background: var(--bg-color);
        color: #fff;
}
.crypto-app{
    margin: 0 2rem;
    max-width: 1700px;
}
.App{
    min-width: 1200px;
    display: flex;
    justify-content: center;
}