.crypto {
  margin-top: 7rem;
}
.redirect-card {
  color: #fff;
  text-decoration: none;
}
.card:hover {
  background: #2170ff;
  color: #fff;
  transform: translate(0px, -10px);
  box-shadow: 0px 0px 18px 1px rgba(255, 255, 255, 0.15);
}
.heading {
  width: 100%;
  text-align: center;
}
.cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 0 3rem;
  margin-top: 1.5rem;
  justify-content: center;
}
.card {
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  padding: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.coin-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name-price {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.cn-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: var(--gray-color);
}
.image img {
  width: 3rem;
}

@media screen and (max-width: 760px) {
  .card:hover {
  background: var(--card-color);
  color: #fff;
  transform: translate(0px, 0px);
  box-shadow: none;
}
  .cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    overflow-x: auto;
    margin: 0 1rem;
    padding-top: 1.5rem;
    justify-content: flex-start;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}
